
body{
    margin: 0px;
    
}
ul{
	text-align: center;
	margin-left: 35%;
  
}
  li, a {
	text-decoration: none;
	list-style: none;
	display: inline-block;	   
	color:black;
	font-size: 18px;
     font-family: 'Mogra', cursive;
	margin-top: 2%;
	margin-bottom: 1%;
	text-align: center; 
	margin-left: 5%;

}


.banner{
	background-image: url(../images/fondo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	height:900px;
    width: 100%;
}

.logo{
	text-align: center;
    width: 10%;
    height: 100px;
	margin-top: 6%;
	margin-bottom: 1%;
	margin-left: 47%;
}

.nombre{
	text-align: center;
	color: #8B008B;
	font-size: 50px;
    font-family: 'Mogra', cursive;
}
.frase{
	text-align: center;
	color: #FF00FF;
	font-size: 35px;
    font-family: 'Mogra', cursive;
    border:0px;
}

.fondo{
	background-image: url(../images/tile1.png);
}

.perfil{
	width:100%;
    height: 300px;
	border: 1px solid black;
    margin:70px 30px; 
   
    
    
}

.about{
	color:mediumvioletred;
    font-size: 35px;
    font-family: 'Mogra', cursive;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 3%;
    text-align: center;
    
}

.parrafo{
	font-size: 28px;
    font-family: 'Mogra', cursive;
    margin: 10px;
   
}

.titulos{
	color: #8B00DF;
    font-size: 20px;
	font-family: 'Mogra', cursive;
	margin-top: 5%;
	text-align: center;
	margin-bottom: 2%;
    
     
    
}

.ima{
	border:solid;
	color:#8B00DF; 
	height: 350px;
	padding: 3px;
    border-radius: 100%;
	margin-bottom:9%;
    width: 100%;
   
}

.fondo-gris{
	background-image: url(../images/tile2.png);
}

.contact{
	color: #8B00DF;
	font-family: 'Mogra', cursive;
	margin-top: 5%;
	text-align: center;
	margin-bottom: 2%;
}


